<div >
    <strong>
        <h2 style="text-align: center;">
            Sorter
        </h2>
    </strong>
</div>
<div >
    <div id = "output" style="Width:75%;float:left;background:grey">
        <p style="text-align:center;"><strong>Please enter in numbers followed by comma</strong></p>
    </div>
    <div id = "input" style="float:right;background:red;">
        <input id="word" stype= "align:center;" placeholder="Enter Numbers Here" [(ngModel)]="user.message" required>
        <br>
        <button (click)=sort()>Submit</button>
    </div>
</div>