<body ng-controller="main" class='bd'>
<table mat-table style="width:100%" class='tb'>
    <tr mat-row class="toprow">
      <th mat-header-cell><Strong>Name</Strong></th>
      <th mat-header-cell><Strong>Student ID</Strong></th>
      <th mat-header-cell><Strong>Button</Strong></th>
    </tr>
    <tr mat-row *ngFor = 'let key of student' class="insertrow" >
      <td mat-cell style="width:33%">{{ key.name}} </td>
      <td mat-cell style="width:33%"> {{key.student_id}} </td>
      <td mat-cell style="width:33%">
      <button (click)="accept(key)"><strong>Go</strong></button>
    </td>
    </tr>

  </table> 
</body>